.Title_videos {
    color: #ec7600;
    font-size: 50px;
    font-family: fantasy;
  }
  .num_Top{
    color:  #ec7600;
    font-family: fantasy;
    margin: auto;
    background-color:#002d62;
    width: 100px;
  }